@import "../../index.scss";

.home {
  overflow: hidden;
  .first-container {
    width: 100vw;
    height: 85.6vh;
    overflow: hidden;

    @include mobile {
      height: 87.5vh;
    }

    .first-left-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 85.6%;

      @include mobile {
        justify-content: flex-start;
      }

      h1 {
        text-align: center;
        font-size: 3.5rem;

        @include mobile {
          font-size: 1.5rem;
        }
      }

      h3 {
        text-align: center;

        @include mobile {
          font-size: 1rem;
        }
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }

      .typing-container {
        h3 {
          display: inline-block; /* Make it an inline-block to respect width */
          overflow: hidden;
          border-right: 2px solid;
          white-space: nowrap;
          // animation: typing 5s steps(20) infinite;
          font-size: 1.8rem;
          color: $third;

          @include mobile {
            font-size: 1rem;
          }
        }
      }

      img {
        position: absolute;
        width: 400px;
        bottom: 0;
        right: 0;

        @include mobile {
          width: 300px;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }

      #button {
        margin-top: 20px;
        padding: 25px 50px;
        background-color: $third;
        border-radius: 10px;
        color: $primary;
        font-weight: bold;
        border: 1px solid $third;

        &:hover {
          background-color: $primary;
          cursor: pointer;
          color: $secondary;
        }
      }
    }
  }

  .second-container {
    width: 100vw;
    overflow: hidden;
    padding: 0 50px;
    background-color: rgba(0, 173, 218, 0.05);

    @include mobile {
      padding: 0 20px;
    }

    h1 {
      font-size: 4rem;
      @include mobile {
        font-size: 2.2rem;
      }
    }

    p {
      font-size: 1.2rem;
      max-width: 90vw;

      @include mobile {
        font-size: 1rem;
        max-width: 90vw;
      }
    }
  }

  .third-container {
    width: 100vw;
    overflow: hidden;
    padding: 0 50px;

    @include mobile {
      padding: 0 20px;
    }

    h1 {
      font-size: 4rem;
      @include mobile {
        font-size: 2.2rem;
        text-align: center;
        margin-right: 25px;
      }
    }

    .industry-serve {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 90vw;
      justify-content: space-evenly;
      gap: 35px;

      @include mobile {
        max-width: 92vw;
        gap: 20px;
      }

      .industry {
        display: flex;
        align-items: center;
        gap: 5px;

        span {
          @include mobile {
            font-size: 12px;
          }
        }

        img {
          width: 30px;
          height: 30px;

          @include mobile {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .fourth-container {
    width: 100vw;
    overflow: hidden;
    padding: 0 50px;
    padding-bottom: 50px;

    @include mobile {
      padding: 0 20px;
      padding-bottom: 30px;
    }

    h1 {
      font-size: 4rem;
      @include mobile {
        font-size: 2.2rem;
      }
    }

    .tab-container {
      display: flex;
      align-items: center;
      gap: 10px;
      .tab-bar {
        padding: 10px;
        border: 2px solid $third;
        width: 160px;
        border-radius: 8px;
        text-align: center;

        @include mobile {
          width: 100px;

          font-size: 0.8rem;
        }

        &:hover {
          cursor: pointer;
        }

        &.active {
          background-color: $third;
          color: $primary;
        }
      }
    }

    .content-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 95%;
      height: 60%;
      gap: 30px;
      padding-top: 20px;

      @include mobile {
        gap: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 78%;
        width: 80%;
      }

      .content {
        display: flex;
        align-items: center;
        gap: 30px;
        @include mobile {
          gap: 20px;
        }

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50px;

          @include mobile {
            width: 90px;
            height: 90px;
          }
        }

        p {
          @include mobile {
            max-width: 85%;
          }
        }
      }
    }
    .cta-container {
      width: 100vw;
      align-items: center;
      justify-content: center;
      display: flex;
      padding-top: 50px;
      @include mobile {
        padding-top: 25px;
      }
    }
    .cta {
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 10px;
      background-color: $third;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: $primary;
        color: $secondary;
      }
    }
  }

  .fifth-container {
    width: 100vw;
    overflow: hidden;
    padding: 0 50px;
    padding-bottom: 50px;

    @include mobile {
      padding: 0 20px;
      padding-bottom: 20px;
    }

    h1 {
      font-size: 4rem;
      @include mobile {
        font-size: 2.2rem;
        max-width: 80%;
      }
    }

    .industry-serve {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 90vw;
      justify-content: flex-start;
      gap: 35px;

      @include mobile {
        max-width: 92vw;
        gap: 20px;
      }

      .industry {
        display: flex;
        align-items: center;
        gap: 15px;

        @include mobile {
          gap: 5px;
        }

        span {
          @include mobile {
            font-size: 12px;
          }
        }

        img {
          width: 30px;
          height: 30px;

          @include mobile {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .sixth-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0 50px;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), #ffffff);

    @include mobile {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 90%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    @include mobile {
      padding: 0 20px;
    }

    h1 {
      font-size: 4rem;
      color: $primary;
      @include mobile {
        font-size: 2.2rem;
        max-width: 80%;
      }
    }

    p {
      max-width: 90vw;
      font-size: 1.2rem;
      color: $primary;
    }

    img#background {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      object-fit: cover;
      width: 100vw;
      height: 100vh;
    }

    img#png-img {
      position: absolute;
      width: 50vw;
      bottom: 0;
      right: 0;

      @include mobile {
        width: 110vw;
      }
    }
  }

  .seventh-container {
    width: 100vw;
    height: 65vh;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;

    @include mobile {
      height: auto;
    }

    h1 {
      font-size: 3rem;
      color: $secondary;
      text-align: center;
      margin-bottom: 50px;
      @include mobile {
        font-size: 1.5rem;
      }
    }

    .highlights-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 35px;

      @include mobile {
        flex-direction: column;
      }

      .highlight {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        img {
          width: 80px;
          height: 80px;
        }
        span.title {
          font-weight: 700;
          font-size: 1.2rem;
        }
        span {
          max-width: 50%;
          text-align: center;
          @include mobile {
            max-width: 80%;
          }
        }
      }
    }
  }
}
